.btn {
  &:link,
  &:visited {
    display: inline-block;
    font-size: $font-size-p;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 1.5rem 0.9rem;
  }

  &--desactivated {
    background-color: $color-grayish-blue-light;
    color: $color-dark-blue;
    box-shadow: 0 0.4rem 0.8rem lighten($color-dark-blue, 50%);
  }

  &--activated {
    background-color: $color-soft-blue;
    color: $color-white;
    box-shadow: 0 0.4rem 0.8rem darken($color-white, 30%);
  }

  &--form {
    border: none;
    padding: 1.5rem 1.3rem;
    border-radius: 0.5rem;
    font-family: inherit;
    color: $color-white;
    font-size: $font-size-p;
  }

  &--sub {
    background-color: $color-soft-red;
  }

  &--login {
    background-color: transparent;
    border: .1rem solid $color-white;
    width: 100%;
    letter-spacing: .3rem;
    text-transform: uppercase;
  }
}
