.logo {
  &--footer {
    fill: $white;
  }

  &__mobile {
    &--text {
      fill: $white;
    }

    &--icon {
      fill: $dark-blue;
    }

    &--background {
      fill: $white;
    }
  }
}
