// Manipulation of icons in SVG
.logo {
  &--footer {
    fill: $color-white;
  }

  &--mobile {
    &__text {
      fill: $color-white;
    }

    &__icon {
      fill: $color-dark-blue;
    }

    &__background {
      fill: $color-white;
    }
  }
}