.logo {
  &--footer {
    fill: $color-white;
  }

  &__mobile {
    &--text {
      fill: $color-white;
    }

    &--icon {
      fill: $color-dark-blue;
    }

    &--background {
      fill: $color-white;
    }
  }
}
