.social-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    padding: 0 $padding-sm;
  }

  &__icon {
    transition: all .3s;
    
    &:hover {
      fill: $color-soft-red;
    }
  }
}