// Fades content from left to right
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// Fades content from top to bottom
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Shows content from top to bottom
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-60%);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}

// Show content from left to right
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-1.5rem);
  }

  80% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}