// Reset for all elements
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

// Defining how much 1rem is worth
html {
  font-size: 62.5%;
}

// Setting the border-box property to body, so all elements will inherit it
body {
  box-sizing: border-box;
}

// Default styles
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}