body {
  font-family: "Rubik", sans-serif;
}

.heading-primary {
  font-size: $font-size-h1;
  color: $dark-blue;
}

.heading-secondary {
  font-size: $font-size-h2;
  color: $dark-blue;
}

.heading-tertiary {
  font-size: $font-size-h3;
  color: $dark-blue;
}

.paragraph {
  font-size: $font-size-p;
  margin: 2rem 0 3rem 0;
}
