@mixin font($fontName) {
  color: $color-dark-blue;

  @if ($fontName == h1) {
    font-size: $font-size-h1;
  } @else if($fontName == h2) {
    font-size: $font-size-h2;
  } @else if($fontName == h3) {
    font-size: $font-size-h3;
  } @else if($fontName == p) {
    font-size: $font-size-default;
    color: darken($color-white, 50%);
  }
}

@mixin btnState($state) {
  @if ($state == hover) {
    background-color: $color-white;
    transform: translateY(-0.3rem);
  } @else if($state == active) {
    transform: translateY(0rem);
  }
}

@mixin btnDefaultStyle($style) {
  font-family: inherit;
  border-radius: 0.5rem;
  
  @if ($style == link) {
    display: inline-block;
    font-size: $font-size-sm;
    font-weight: 500;
    padding: 1.5rem 0.9rem;
  } @else if($style == button) {
    border: none;
    padding: 1.5rem 1.3rem;
    font-size: $font-size-sm;
  }
}