// COLORS
$color-soft-blue: hsl(231, 69%, 60%);
$color-dark-blue: hsl(229, 31%, 21%);
$color-soft-red: hsl(0, 94%, 66%);
$color-grayish-blue: hsl(229, 8%, 60%);
$color-grayish-blue-light: hsl(240, 8%, 95%);
$color-white: #fff;
$color-black: #000;

// FONTS
$font-family-default: "Rubik", sans-serif;

$font-size-h1: 3rem; // 30px
$font-size-h2: 2.5rem; // 25px
$font-size-h3: 2rem; //20px
$font-size-default: 1.6rem; // 16px
$font-size-sm: 1.4rem; // 14px

// LENGHTS
$padding-bottom-section: 15rem; // 150px
$padding-top-section: 5rem; // 50px

$padding-sm: 2rem; // 20px
$padding-md: 4rem; // 40px
$padding-lg: 6rem; // 60px

$margin-sm: 2rem; // 20px
$margin-md: 4rem; // 40px
$margin-lg: 6rem; // 60px

// Transition
$transition-behavior-default: 0.3s ease-in-out;
$transition-hover-btn: all 0.3s;

// Breakpoints
$breakpoint-sm: 332px;
$breakpoint-md: 600px;
$breakpoint-lg: 1000px;
$breakpoint-xlg: 1441px; 