// COLORS
$soft-blue: hsl(231, 69%, 60%);
$dark-blue: hsl(229, 31%, 21%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$grayish-blue-light: hsl(240, 8%, 95%);
$white: #fff;

// FONTS
$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-p: 1.6rem;

// LENGHTS
$padding-section: 12rem;