@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-3rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-1rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-60%); }
  to {
    opacity: 0.9;
    transform: translateY(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-1.5rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.disableScroll {
  overflow: hidden; }

body {
  font-family: "Rubik", sans-serif; }

.heading-primary {
  color: #252b46;
  font-size: 3rem; }
  @media only screen and (min-width: 1000px) {
    .heading-primary {
      font-size: 4.8rem; } }

.heading-secondary {
  color: #252b46;
  font-size: 2.5rem; }

.heading-tertiary {
  color: #252b46;
  font-size: 2rem; }

.paragraph {
  color: #252b46;
  font-size: 1.6rem;
  color: gray;
  margin: 2rem 0;
  line-height: 1.6; }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 1.5rem 0.9rem; }

.btn--disable {
  background-color: #f1f1f3;
  color: #666666;
  box-shadow: 0 0.4rem 0.8rem #9ea7cc;
  border: 0.2rem solid transparent;
  margin-top: 1.5rem;
  transition: all 0.3s; }

.btn--active {
  background-color: #5368df;
  color: #fff;
  box-shadow: 0 0.4rem 0.8rem #b3b3b3;
  border: 0.2rem solid transparent;
  transition: all 0.3s; }
  .btn--active:not(:first-child) {
    padding-left: 3rem;
    padding-right: 3rem; }
  @media only screen and (min-width: 332px) {
    .btn--active:first-child {
      margin-bottom: 0;
      margin-right: 1.2rem; } }

.btn--form {
  font-family: inherit;
  border-radius: 0.5rem;
  border: none;
  padding: 1.5rem 1.3rem;
  font-size: 1.4rem;
  background-color: #fa5757;
  color: #e6e6e6;
  border: 0.2rem solid transparent;
  transition: all 0.3s; }
  .btn--form:focus {
    outline: none; }

.btn--login {
  font-family: inherit;
  border-radius: 0.5rem;
  border: none;
  padding: 1.5rem 1.3rem;
  font-size: 1.4rem;
  color: #e6e6e6;
  background-color: transparent;
  border: 0.1rem solid #fff;
  padding: 1.5rem 0.9rem;
  width: calc(100% - 1rem);
  margin-top: 2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase; }
  .btn--login:focus {
    outline: none; }

.btn--pricing {
  padding: 1.5rem 3rem; }

@media only screen and (min-width: 1000px) {
  .btn--active:hover, .btn--disable:hover {
    background-color: #fff;
    transform: translateY(-0.3rem); }
  .btn--active:active, .btn--disable:active {
    transform: translateY(0rem); }
  .btn--active:hover {
    border-color: #5368df;
    color: #5368df; }
  .btn--disable:hover {
    border-color: #666666; }
  .btn--form:hover {
    cursor: pointer;
    color: #fa5757;
    background-color: #fff;
    border-color: #fa5757; } }

.logo--footer {
  fill: #fff; }

.logo--mobile__text {
  fill: #fff; }

.logo--mobile__icon {
  fill: #252b46; }

.logo--mobile__background {
  fill: #fff; }

.social-menu {
  display: flex;
  justify-content: center;
  align-items: center; }
  .social-menu__item {
    padding: 0 2rem; }
  .social-menu__icon {
    transition: all .3s; }
    .social-menu__icon:hover {
      fill: #fa5757; }

.tooltip {
  position: absolute;
  max-width: 300px;
  padding: 1.2rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: .02rem;
  color: #fff;
  background-color: #252b46;
  box-shadow: 0 0.05rem 0.5rem #fff, 0 0 0 0.2rem #252b46;
  border-radius: .5rem; }

.section-contact {
  text-align: center;
  background-color: #5368df;
  position: relative; }
  .section-contact__container {
    padding: 6rem 2.5rem; }
  .section-contact__heading {
    color: #fff;
    font-weight: 400; }
  .section-contact__text {
    display: block;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .section-contact__form {
    margin-top: 4rem; }
    .section-contact__form > * {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 100%; }
    .section-contact__form-container {
      position: relative; }
      @media only screen and (min-width: 600px) {
        .section-contact__form-container {
          width: 200%;
          margin-right: 2rem; } }
  .section-contact__input-box {
    position: relative;
    margin-bottom: 2rem; }
  .section-contact__input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    font-family: inherit; }
    .section-contact__input:focus {
      outline: none; }
    .section-contact__input::placeholder {
      color: #cccccc; }
  .section-contact__alert-text {
    display: none;
    opacity: 0;
    text-align: left;
    font-style: italic;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: absolute;
    top: 5.1rem;
    left: 0;
    width: 100%; }
  .section-contact__alert-icon {
    font-size: 1.8rem;
    background-color: #fff;
    position: absolute;
    top: 35%;
    right: 2rem;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out; }
  @media only screen and (min-width: 600px) {
    .section-contact__container {
      max-width: 85vw;
      margin: 0 auto; }
    .section-contact__form {
      display: flex;
      align-items: flex-start; } }
  @media only screen and (min-width: 1000px) {
    .section-contact .heading-secondary {
      width: 65%;
      margin: 0 auto; }
    .section-contact__container {
      max-width: 600px; } }

.invalidInput, .validInput {
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 2rem; }

.invalidTextAlert, .validTextAlert {
  display: block;
  opacity: 1;
  transition: 0.3s ease-in-out; }

.invalidIconAlert, .validIconAlert {
  opacity: 1;
  transition: opacity 0.3s ease-in-out; }

[data-animation="form-input"] {
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  transition: all 0.3s; }

.invalidInput {
  border-color: #fa5757; }

.validInput {
  border-color: #252b46; }

.invalidTextAlert {
  background-color: #fa5757; }

.validTextAlert {
  background-color: #252b46; }

.invalidIconAlert {
  color: #fa5757; }

.validIconAlert {
  color: #252b46; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  padding: 3rem 2.5rem; }
  .header__container {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem; }
  .header__item {
    text-align: center;
    border-bottom: 0.1rem solid #fff;
    opacity: 0.85;
    padding: 2rem 0; }
    .header__item:first-child {
      border-top: 0.1rem solid #fff; }
  .header__link {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem; }
  .header__btn-open {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .header__btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .header__mobile {
    height: 100vh;
    width: 100vw;
    padding: 3rem 2.5rem;
    background-color: #252b46;
    backdrop-filter: blur(0.3rem);
    opacity: 0.9; }
    @media only screen and (min-width: 600px) {
      .header__mobile {
        padding-right: 7.5vw;
        padding-left: 7.5vw; } }
    .header__mobile-content {
      padding-left: 1rem; }
    .header__mobile-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 4rem; }
    .header__mobile-menu {
      margin-right: 1rem; }
  .header__desktop {
    display: none; }
    @media only screen and (min-width: 1000px) {
      .header__desktop {
        display: flex; } }
    .header__desktop-item {
      padding: 1rem;
      border: 0.2rem solid transparent;
      transition: all 0.3s; }
      .header__desktop-item:not(:last-child) {
        margin-right: 2rem; }
      .header__desktop-item:last-child {
        background-color: #fa5757;
        border-radius: 0.5rem; }
      .header__desktop-item:last-child {
        padding: 1rem 3rem; }
        .header__desktop-item:last-child:hover {
          background-color: #fff;
          border-color: #fa5757;
          box-shadow: 0 0.1rem 0.5rem #9194a1; }
    .header__desktop-link {
      color: #252b46;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 500; }
      .header__desktop-link--login {
        color: #fff; }
  @media only screen and (min-width: 600px) {
    .header {
      padding-right: 7.5vw;
      padding-left: 7.5vw; } }
  @media only screen and (min-width: 1000px) {
    .header__btn-open {
      display: none; }
    .header__desktop-item:hover {
      cursor: pointer; }
      .header__desktop-item:hover > .header__desktop-link {
        color: #fa5757; } }
  @media only screen and (max-height: 420px) {
    .header__mobile-content {
      margin-bottom: 2rem; }
    .header__mobile-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 0.1rem solid #fff;
      margin-bottom: 2rem; }
    .header__item {
      width: 100%;
      border-bottom: 0.1rem solid #fff; }
      .header__item:first-child {
        border-top: none; }
      .header__item:not(:last-child) {
        margin-right: 2rem; } }

[data-animation="menu-mobile"] {
  display: none; }

.activeMenuMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  animation: slideDown 0.3s ease-out; }

.disableHeader {
  opacity: 0;
  transition: 0.3s ease-in-out; }

.activeHeader {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.6rem #b3b3b3;
  transition: box-shadow 0.5s; }

.footer {
  background-color: #252b46;
  text-align: center; }
  .footer__container {
    padding: 4rem 0; }
  .footer__navbar {
    margin-top: 4rem; }
  .footer__menu {
    padding-bottom: 2rem; }
  .footer__item {
    padding: 2rem; }
  .footer__link {
    font-size: 1.6rem;
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    transition: all .3s; }
    .footer__link:hover {
      color: #fa5757; }

@media only screen and (min-width: 1000px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2rem 7.5vw; }
  .footer__navbar {
    margin-top: 0; }
  .footer__menu {
    display: flex;
    padding-bottom: 0; } }

.main {
  padding: 8rem 2.5rem 0 2.5rem; }

.section-faq {
  text-align: center;
  padding-bottom: 15rem; }
  .section-faq__list {
    text-align: initial;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-right: 1rem; }
  .section-faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid #e3e3e8; }
    .section-faq__question-text {
      font-size: 1.6rem;
      color: #252b46;
      transition: all 0.3s; }
      .section-faq__question-text:hover {
        color: #fa5757;
        cursor: pointer; }
  .section-faq__answer {
    font-size: 1.6rem;
    line-height: 2;
    margin: 2rem 0;
    color: gray; }
  @media only screen and (min-width: 600px) {
    .section-faq {
      max-width: 500px;
      margin: 0 auto; }
      .section-faq .paragraph {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto; } }
  @media only screen and (min-width: 1000px) {
    .section-faq .paragraph {
      max-width: 450px; } }

[data-animation="accordionAnswer"] {
  display: none; }

.activeAnswer {
  display: block;
  border-bottom: 0.1rem solid #e3e3e8;
  padding-bottom: 1.5rem;
  animation: fadeInDown 0.5s ease-out backwards; }

.activeTerm {
  border-bottom-color: transparent; }

[data-animation="svg-arrow"] {
  transition: 0.3s ease-out; }

.activeState {
  stroke: #fa5757;
  transform: rotateX(180deg);
  transform-origin: 50% 50%; }

.section-features {
  text-align: center;
  padding-bottom: 15rem;
  padding-top: 5rem; }
  .section-features__feature-box {
    margin-bottom: 6rem;
    margin-top: 4rem; }
  .section-features__feature {
    padding: 2rem;
    border-bottom: 0.1rem solid #e3e3e8;
    transition: all 0.3s; }
    .section-features__feature:first-child {
      border-top: 0.1rem solid #e3e3e8; }
      @media only screen and (min-width: 600px) {
        .section-features__feature:first-child {
          border-top: none; } }
    .section-features__feature-text {
      font-size: 1.6rem;
      font-weight: 400;
      padding: 2rem 0; }
  .section-features__illustration-feature {
    position: relative;
    margin-bottom: 10rem; }
    .section-features__illustration-feature::before {
      content: "";
      display: block;
      position: absolute;
      top: 19%;
      left: -2.5rem;
      background-color: #5368df;
      border-top-right-radius: 50%;
      z-index: -1; }
      @media only screen and (min-width: 1441px) {
        .section-features__illustration-feature::before {
          left: -15vw; } }
    .section-features__illustration-feature--first::before {
      width: 82%;
      height: 100%;
      top: 22%;
      border-bottom-right-radius: 30%; }
      @media only screen and (min-width: 1441px) {
        .section-features__illustration-feature--first::before {
          width: 120%;
          border-bottom-right-radius: 25%; } }
    .section-features__illustration-feature--second::before {
      width: 80%;
      height: 85%;
      top: 20%;
      border-bottom-right-radius: 30%; }
      @media only screen and (min-width: 600px) {
        .section-features__illustration-feature--second::before {
          width: 75%; } }
      @media only screen and (min-width: 1441px) {
        .section-features__illustration-feature--second::before {
          width: 115%;
          border-bottom-right-radius: 30%; } }
    .section-features__illustration-feature--third::before {
      width: 85%;
      height: 90%;
      top: 23%;
      border-bottom-right-radius: 30%; }
      @media only screen and (min-width: 600px) {
        .section-features__illustration-feature--third::before {
          width: 75%; } }
      @media only screen and (min-width: 1441px) {
        .section-features__illustration-feature--third::before {
          width: 115%;
          border-bottom-right-radius: 25%; } }
  .section-features__illustration {
    max-width: 80%; }
  .section-features__text-box {
    margin-top: 4rem; }
    .section-features__text-box .btn {
      padding: 1rem 1.5rem; }
  @media only screen and (min-width: 600px) {
    .section-features {
      margin-right: auto;
      margin-left: auto; }
      .section-features .paragraph {
        width: 400px;
        margin-right: auto;
        margin-left: auto; }
      .section-features__feature-box {
        display: flex;
        justify-content: center; }
      .section-features__text-box {
        width: 65vw;
        margin-right: auto;
        margin-left: auto; } }
  @media only screen and (min-width: 1000px) {
    .section-features > .paragraph {
      width: 480px; }
    .section-features__content {
      grid-template-columns: repeat(2, 1fr); }
    .section-features__text-box {
      width: 390px;
      margin-left: 0;
      text-align: left; }
      .section-features__text-box > .paragraph {
        width: 100%;
        padding: 0; }
    .section-features__feature:hover {
      color: #fa5757;
      cursor: pointer; } }
  @media only screen and (min-width: 1441px) {
    .section-features {
      max-width: 70vw; } }

[data-animation="nav-content"] {
  display: none;
  animation: fadeInRight 0.5s; }

.activeTabItem {
  font-weight: 500;
  border-bottom: #fa5757 solid 3px;
  transition: border-color 0.5s; }

.activeTabContent {
  display: grid; }

.section-home {
  text-align: center;
  padding-bottom: 15rem;
  padding-top: 8rem; }
  .section-home__hero-box {
    margin-bottom: 6rem;
    position: relative; }
    .section-home__hero-box::before {
      content: "";
      display: block;
      position: absolute;
      top: 25%;
      right: -2.5rem;
      height: 75%;
      width: 80%;
      background-color: #5368df;
      border-bottom-left-radius: 40%;
      z-index: -1; }
      @media only screen and (min-width: 1000px) {
        .section-home__hero-box::before {
          right: calc(-2.5rem - 2vw); } }
  @media only screen and (min-width: 600px) {
    .section-home .paragraph {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (min-width: 1000px) {
    .section-home {
      padding-right: 2vw;
      padding-left: 7.5vw;
      text-align: left; }
      .section-home .heading-primary {
        max-width: 560px; }
      .section-home .paragraph {
        max-width: 440px;
        margin-left: 0;
        margin-right: 0; }
      .section-home__container {
        display: flex;
        justify-content: space-between;
        align-items: center; }
      .section-home__content {
        margin-right: auto; }
      .section-home__hero-box {
        order: 1;
        margin-bottom: 0; } }
  @media only screen and (min-width: 1441px) {
    .section-home .heading-primary {
      max-width: 100%; }
    .section-home .paragraph {
      max-width: 80%; }
    .section-home__content {
      margin-right: 0; } }

.section-pricing {
  text-align: center;
  padding-bottom: 15rem;
  padding-top: 5rem; }
  .section-pricing__content {
    margin-top: 4rem; }
    .section-pricing__content-box {
      min-width: 31.5%;
      background-color: #fff;
      box-shadow: 0 0.5rem 1rem #e3e3e8;
      border-radius: 1.5rem;
      padding: 4rem 0 2.5rem 0;
      margin-bottom: 4rem; }
    .section-pricing__content-photo {
      margin-bottom: 4rem; }
    .section-pricing__content-text {
      font-size: 1.6rem;
      color: gray;
      margin-bottom: 2rem;
      margin-top: 1rem; }
    .section-pricing__content-split {
      margin-bottom: 2rem;
      margin-top: 2rem;
      width: 100%; }
  @media only screen and (min-width: 600px) {
    .section-pricing {
      margin: 0 auto; }
      .section-pricing .paragraph {
        width: 400px;
        margin-right: auto;
        margin-left: auto; }
      .section-pricing__content {
        display: flex;
        flex-wrap: wrap; }
        .section-pricing__content-box {
          padding-right: 1.5rem;
          padding-left: 1.5rem; }
          .section-pricing__content-box:first-child {
            margin-right: 4%;
            width: 46%; }
          .section-pricing__content-box:nth-child(2) {
            margin-left: 4%;
            width: 46%; }
          .section-pricing__content-box:nth-child(3) {
            width: 50%;
            margin-right: auto;
            margin-left: auto; } }
  @media only screen and (min-width: 1000px) {
    .section-pricing {
      max-width: 900px; }
      .section-pricing .paragraph {
        width: 480px; }
      .section-pricing__content {
        flex-wrap: nowrap;
        margin-bottom: 2rem; }
        .section-pricing__content-box:not(:nth-child(3)) {
          margin-right: 3rem; }
        .section-pricing__content-box:nth-child(2) {
          margin-left: 0;
          transform: translateY(6rem); }
        .section-pricing__content-box:nth-child(3) {
          transform: translateY(12rem); } }
