@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-3rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-60%); }
  to {
    opacity: .9;
    transform: translateY(0); } }

@keyframes fadeInUp {
  from {
    opacity: 0.9;
    transform: translateY(0); }
  to {
    opacity: 0;
    transform: translateY(-100%); } }

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateX(-1.5rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

body {
  font-family: "Rubik", sans-serif; }

.heading-primary {
  color: #252b46;
  font-size: 3rem; }

.heading-secondary {
  color: #252b46;
  font-size: 2.5rem; }

.heading-tertiary {
  color: #252b46;
  font-size: 2rem; }

.paragraph {
  color: #252b46;
  font-size: 1.5rem;
  color: gray;
  margin: 2rem 0; }

.u-margin-right-sm {
  margin-right: 1.2rem; }

.u-margin-bottom-sm {
  margin-bottom: 3rem; }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 1.5rem 0.9rem; }

.btn--desactivated {
  background-color: #f1f1f3;
  color: #666666;
  box-shadow: 0 0.4rem 0.8rem #9ea7cc; }

.btn--activated {
  background-color: #5368df;
  color: #fff;
  box-shadow: 0 0.4rem 0.8rem #b3b3b3; }
  .btn--activated:not(:first-child) {
    padding-right: 3rem;
    padding-left: 3rem; }

.btn--form {
  border: none;
  padding: 1.5rem 1.3rem;
  border-radius: 0.5rem;
  font-family: inherit;
  color: #fff;
  font-size: 1.6rem; }

.btn--sub {
  background-color: #fa5757;
  color: #e6e6e6; }

.btn--login {
  background-color: transparent;
  border: 0.1rem solid #fff;
  width: 100%;
  letter-spacing: .3rem;
  text-transform: uppercase; }

.btn--pricing {
  padding: 1.5rem 3rem; }

.logo--footer {
  fill: #fff; }

.logo__mobile--text {
  fill: #fff; }

.logo__mobile--icon {
  fill: #252b46; }

.logo__mobile--background {
  fill: #fff; }

.social-menu {
  display: flex;
  justify-content: center;
  align-items: center; }
  .social-menu__item {
    padding: 0 2rem; }

.section-contact {
  text-align: center;
  background-color: #5368df;
  padding: 6rem 2.5rem; }
  .section-contact__heading {
    color: #fff;
    font-weight: 400; }
  .section-contact__text {
    display: block;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .section-contact__form {
    margin-top: 4rem; }
    .section-contact__form > * {
      display: block;
      margin: 0 auto;
      width: 100%; }
  .section-contact__input-box {
    position: relative;
    margin-bottom: 2rem; }
  .section-contact__input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    font-family: inherit; }
    .section-contact__input:focus {
      outline: none; }
    .section-contact__input::placeholder {
      color: #cccccc; }
  .section-contact__alert-text {
    text-align: left;
    font-style: italic;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: #fff;
    padding: 0.5rem 1.5rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }
  .section-contact__alert-icon {
    font-size: 1.8rem;
    color: #fa5757;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%); }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 3rem 2.5rem; }
  .header__container {
    display: flex;
    justify-content: space-between; }
  .header__item {
    text-align: center;
    border-bottom: 0.1rem solid #fff;
    opacity: 0.85;
    padding: 2rem 0; }
  .header__link {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem; }
  .header__mobile {
    height: 100vh;
    width: 100vw;
    padding: 3rem 2.5rem;
    background-color: #252b46;
    backdrop-filter: blur(0.3rem);
    opacity: 0.9; }
    .header__mobile-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.1rem solid #fff;
      padding-bottom: 4rem; }

.footer {
  padding: 4rem 0;
  text-align: center;
  background-color: #252b46; }
  .footer__navbar {
    margin-top: 4rem; }
  .footer__menu {
    padding-bottom: 2rem; }
  .footer__item {
    padding: 2rem; }
  .footer__link {
    font-size: 1.6rem;
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 0.3rem; }

.wrapper {
  padding: 8rem 2.5rem 0 2.5rem; }

.section-faq {
  text-align: center;
  padding-bottom: 15rem; }
  .section-faq__list {
    text-align: initial;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-right: 1rem; }
  .section-faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid #e3e3e8; }
    .section-faq__question-text {
      font-size: 1.6rem;
      color: #252b46; }
  .section-faq__answer {
    font-size: 1.6rem;
    line-height: 2;
    margin: 1.5rem 0 2rem 0;
    color: gray; }

.section-features {
  text-align: center;
  padding-bottom: 15rem;
  padding-top: 5rem; }
  .section-features__feature-box {
    margin-bottom: 6rem;
    margin-top: 4rem; }
  .section-features__feature {
    padding: 2rem;
    border-bottom: 0.1rem solid #e3e3e8; }
    .section-features__feature:first-child {
      border-top: 0.1rem solid #e3e3e8; }
    .section-features__feature-text {
      font-size: 1.6rem;
      font-weight: 400;
      padding: 2rem 0; }
  .section-features__text-box {
    margin-top: 4rem; }

.section-home {
  text-align: center;
  padding-bottom: 15rem;
  padding-top: 8rem; }
  .section-home__btn-box {
    margin-top: 3rem; }

.section-pricing {
  text-align: center;
  padding-bottom: 15rem;
  padding-top: 5rem; }
  .section-pricing__content {
    margin-top: 4rem; }
    .section-pricing__content-box {
      background-color: #fff;
      box-shadow: 0 0.5rem 1rem #e3e3e8;
      border-radius: 1.5rem;
      padding: 4rem 0 2.5rem 0;
      margin-bottom: 4rem; }
    .section-pricing__content-photo {
      margin-bottom: 4rem; }
    .section-pricing__content-text {
      font-size: 1.6rem;
      color: gray;
      margin-bottom: 2rem;
      margin-top: 1rem; }
    .section-pricing__content-split {
      margin-bottom: 2rem;
      margin-top: 2rem;
      width: 100%; }

[data-animation="nav-title"] {
  border-color: transparent; }

.activeTabItem {
  font-weight: 500;
  border-bottom: #fa5757 solid 3px;
  transition: border-color 0.5s; }

[data-animation="nav-content"] {
  display: none;
  overflow: hidden; }

.activeTabContent {
  display: block;
  animation: fadeInRight 0.5s; }

[data-animation="accordionAnswer"] {
  display: none; }

.activeAccordionAnswer {
  display: block;
  border-bottom: 0.1rem solid #e3e3e8;
  padding-bottom: 1.5rem;
  animation: slideDown 0.5s ease-out backwards; }

.activeAccordionTerm {
  border-bottom-color: transparent; }

[data-animation="svg-arrow"] {
  transition: 0.3s ease-out; }

.activeAccordionState {
  stroke: #fa5757;
  transform: rotateX(180deg);
  transform-origin: 50% 50%; }

[data-animation="form-input"] {
  border: 0.1rem solid transparent;
  border-radius: 0.5rem; }

.activeInput {
  border-color: #fa5757;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all 0.3s; }

[data-animation="form-alert-text"] {
  display: none; }

.invalidTextAlert {
  display: block;
  background-color: #fa5757;
  animation: fadeUp 0.3s ease-in-out; }

[data-animation="form-alert-icon"] {
  opacity: 0; }

.invalidIconAlert {
  opacity: 1;
  transition: opacity 0.3s ease-in-out; }

[data-animation="menu-mobile"] {
  display: none; }

.activateMenuMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  animation: fadeInDown 0.3s ease-out; }

.disableHeader {
  opacity: 0;
  transition: 0.3s ease-in-out; }

.activateHeader {
  background-color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0.4rem 0.8rem #b3b3b3;
  transition: box-shadow 0.3s; }
