.footer {
  background-color: $color-dark-blue;
  text-align: center;

  &__container {
    padding: $padding-md 0;
  }

  &__navbar {
    margin-top: $margin-md;
  }

  &__menu {
    padding-bottom: $padding-sm;
  }

  &__item {
    padding: $padding-sm;
  }

  &__link {
    font-size: $font-size-default;
    color: darken($color-white, 20%);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    transition: all .3s;

    &:hover {
      color: $color-soft-red;
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .footer {
    &__container {
      display: flex;
      justify-content: space-between;
      align-content: center;

      padding: $padding-sm 7.5vw;
    }

    &__navbar {
      margin-top: 0;
    }

    &__menu {
      display: flex;
      padding-bottom: 0;
    }
  }
}