.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  padding: 3rem 2.5rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
    border-bottom: 0.1rem solid $color-white;
    opacity: 0.85;
    padding: $padding-sm 0;
  }

  &__link {
    color: $color-white;
    font-size: $font-size-default;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  &__mobile {
    height: 100vh;
    width: 100vw;

    padding: 3rem 2.5rem;
    background-color: $color-dark-blue;
    backdrop-filter: blur(0.3rem);
    opacity: 0.9;

    &-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.1rem solid $color-white;
      padding-bottom: $padding-md;
    }
  }
}
