.section-faq {
  text-align: center;
  padding-bottom: $padding-bottom-section;

  &__list {
    text-align: initial;
    margin-bottom: $margin-md;
    margin-top: $margin-md;
    margin-right: 1rem;
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid darken($color-grayish-blue-light, 5%);

    &-text {
      font-size: $font-size-default;
      color: $color-dark-blue;
      transition: all 0.3s;

      &:hover {
        color: $color-soft-red;
        cursor: pointer;
      }
    }
  }

  &__answer {
    font-size: $font-size-default;
    line-height: 2;
    margin: $margin-sm 0;
    color: darken($color-white, 50%);
  }

  @media only screen and (min-width: $breakpoint-md) {
    max-width: 500px;
    margin: 0 auto;

    .paragraph {
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media only screen and (min-width: $breakpoint-lg) {
    .paragraph {
      max-width: 450px;
    }
  }
}

// Styles activated by JavaScript

// Accordion answer styles
[data-animation="accordionAnswer"] {
  display: none;
}
.activeAnswer {
  display: block;
  border-bottom: 0.1rem solid darken($color-grayish-blue-light, 5%);
  padding-bottom: 1.5rem;

  animation: fadeInDown 0.5s ease-out backwards;
}

// Accordion term styles
.activeTerm {
  border-bottom-color: transparent;
}

// SVG styles
[data-animation="svg-arrow"] {
  transition: 0.3s ease-out;
}
.activeState {
  stroke: $color-soft-red;
  transform: rotateX(180deg);
  transform-origin: 50% 50%;
}