.section-features {
  text-align: center;
  padding-bottom: $padding-bottom-section;
  padding-top: $padding-top-section;

  &__feature-box {
    margin-bottom: $margin-lg;
    margin-top: $margin-sm;
  }

  &__feature {
    padding: $padding-sm;
    border-bottom: 0.1rem solid darken($color-grayish-blue-light, 5%);

    &:first-child {
      border-top: 0.1rem solid darken($color-grayish-blue-light, 5%);
    }

    &-text {
      font-size: $font-size-p;
      font-weight: 700;
      padding: $padding-sm 0;
    }
  }

  &__text-box {
    margin-top: $margin-md;
  }
}
