.section-features {
  text-align: center;
  padding-bottom: $padding-bottom-section;
  padding-top: $padding-top-section;

  &__feature-box {
    margin-bottom: $margin-lg;
    margin-top: $margin-md;
  }

  &__feature {
    padding: $padding-sm;
    border-bottom: 0.1rem solid darken($color-grayish-blue-light, 5%);
    transition: all 0.3s;

    &:first-child {
      border-top: 0.1rem solid darken($color-grayish-blue-light, 5%);

      @media only screen and (min-width: $breakpoint-md) {
        border-top: none;
      }
    }

    &-text {
      font-size: $font-size-default;
      font-weight: 400;
      padding: $padding-sm 0;
    }
  }

  &__illustration-feature {
    position: relative;
    margin-bottom: 10rem;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 19%;
      left: -2.5rem;
      background-color: $color-soft-blue;
      border-top-right-radius: 50%;

      z-index: -1;

      @media only screen and (min-width: $breakpoint-xlg) {
        left: -15vw;
      }
    }

    &--first {
      &::before {
        width: 82%;
        height: 100%;
        top: 22%;
        border-bottom-right-radius: 30%;

        @media only screen and (min-width: $breakpoint-xlg) {
          width: 120%;
          border-bottom-right-radius: 25%;
        }
      }
    }

    &--second {
      &::before {
        width: 80%;
        height: 85%;
        top: 20%;
        border-bottom-right-radius: 30%;

        @media only screen and (min-width: $breakpoint-md) {
          width: 75%;
        }

        @media only screen and (min-width: $breakpoint-xlg) {
          width: 115%;
          border-bottom-right-radius: 30%;
        }
      }
    }

    &--third {
      &::before {
        width: 85%;
        height: 90%;
        top: 23%;
        border-bottom-right-radius: 30%;

        @media only screen and (min-width: $breakpoint-md) {
          width: 75%;
        }

        @media only screen and (min-width: $breakpoint-xlg) {
          width: 115%;
          border-bottom-right-radius: 25%;
        }
      }
    }
  }

  &__illustration {
    max-width: 80%;
  }

  &__text-box {
    margin-top: $margin-md;

    & .btn {
      padding: 1rem 1.5rem;
    }
  }

  @media only screen and (min-width: $breakpoint-md) {
    margin-right: auto;
    margin-left: auto;

    .paragraph {
      width: 400px;
      margin-right: auto;
      margin-left: auto;
    }

    &__feature-box {
      display: flex;
      justify-content: center;
    }

    &__text-box {
      width: 65vw;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media only screen and (min-width: $breakpoint-lg) {
    & > .paragraph {
      width: 480px;
    }

    &__content {
      grid-template-columns: repeat(2, 1fr);
    }

    &__text-box {
      width: 390px;
      margin-left: 0;
      text-align: left;

      & > .paragraph {
        width: 100%;
        padding: 0;
      }
    }

    &__feature {
      &:hover {
        color: $color-soft-red;
        cursor: pointer;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-xlg) {
    max-width: 70vw;
  }
}

// Styles activated by JavaScript

// Tab navigation styles
[data-animation="nav-content"] {
  display: none;
  animation: fadeInRight 0.5s;
}
.activeTabItem {
  font-weight: 500;
  border-bottom: $color-soft-red solid 3px;
  transition: border-color 0.5s;
}
.activeTabContent {
  display: grid;
}
