.section-home {
  text-align: center;
  padding-bottom: $padding-bottom-section;
  padding-top: 8rem;

  @media only screen and (min-width: $breakpoint-md) {
    .paragraph {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media only screen and (min-width: $breakpoint-lg) {
    padding-right: 2vw;
    padding-left: 7.5vw;
    text-align: left;

    .heading-primary {
      max-width: 560px;
    }

    .paragraph {
      max-width: 440px;
      margin-left: 0;
      margin-right: 0;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      margin-right: auto;
    }

    &__hero-box {
      order: 1;
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: $breakpoint-xlg) {
    .heading-primary {
      max-width: 100%;
    }

    .paragraph {
      max-width: 80%;
    }

    &__content {
      margin-right: 0;
    }
  }

  &__hero-box {
    margin-bottom: 6rem;
    position: relative;

    &::before {
      content: "";
      display: block;

      position: absolute;
      top: 25%;
      right: -2.5rem;
      height: 75%;
      width: 80%;
      background-color: $color-soft-blue;
      border-bottom-left-radius: 40%;

      z-index: -1;

      @media only screen and (min-width: $breakpoint-lg) {
        right: calc(-2.5rem - 2vw);
      }
    }
  }
}