.section-pricing {
  text-align: center;
  padding-bottom: $padding-bottom-section;
  padding-top: $padding-top-section;

  &__content {
      margin-top: $margin-md;

    &-box {
      background-color: $color-white;
      box-shadow: 0 .5rem 1rem darken($color-grayish-blue-light, 5%);
      border-radius: 1.5rem;
      padding: $padding-md 0 2.5rem 0;
      margin-bottom: $margin-md;
    }

    &-photo {
      margin-bottom: $margin-md;
    }

    &-text {
      font-size: $font-size-default;
      color: darken($color-white, 50%);
      margin-bottom: $margin-sm;
      margin-top: 1rem;
    }

    &-split {
      margin-bottom: $margin-sm;
      margin-top: $margin-sm;
      width: 100%;
    }
  }
}
