.section-pricing {
  text-align: center;
  padding-bottom: $padding-section;

  &__content {
      margin-top: 4rem;

    &-box {
      background-color: $white;
      box-shadow: 0 .5rem 1rem darken($grayish-blue-light, 5%);
      border-radius: 1.5rem;
      padding: 4rem 0 4rem 0;
      margin-bottom: 4rem;
    }

    &-photo {
      margin-bottom: 4rem;
    }

    &-split {
      margin-bottom: 4rem;
      width: 100%;
    }
  }
}
