// Menu mobile styles
[data-animation="menu-mobile"] {
  display: none;
}
.activateMenuMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  animation: slideDown 0.3s ease-out;
}

// Header styles used in conjunction with menu-mobile
.disableHeader {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.activateHeader {
  background-color: $color-white;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0.4rem 0.8rem darken($color-white, 30%);

  transition: box-shadow 0.3s;
}
